[submodule "vendor/spiffy"]
	path = vendor/spiffy
	url = git://github.com/smerritt/spiffy-elisp.git
[submodule "vendor/cssh"]
	path = vendor/cssh
	url = https://github.com/dimitri/cssh.git
[submodule "vendor/rvm"]
	path = vendor/rvm
	url = https://github.com/senny/rvm.el.git
[submodule "vendor/egg"]
	path = vendor/egg
	url = https://github.com/byplayer/egg.git
[submodule "vendor/liquid-mode"]
	path = vendor/liquid-mode
	url = https://github.com/rehanift/Emacs-Liquid.git
