[submodule "vendor/spiffy"]
	path = vendor/spiffy
	url = git://github.com/smerritt/spiffy-elisp.git
[submodule "vendor/cssh"]
	path = vendor/cssh
	url = https://github.com/dimitri/cssh.git
[submodule "vendor/magit"]
	path = vendor/magit
	url = https://github.com/philjackson/magit.git
